<tbody id="mail">
<tr id="<%=email.id%>">
      <th scope="row"id ="id"><%=email.id%></th>
      <td class="emailobjet"><%= link_to "#{email.object}", email_path(email.id), remote: true %> </td>
      <td class= "emailbody"><%=email.body%></td>
    </tr>
</tbody>